@charset "UTF-8";

html {
    font-size: 100%;
  }
  body {
    color: #2b2a27;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
  }
  img {
    max-width: 100%;
  }
  ul {
    list-style: none;
  }
  a {
    color: #2b2a27;
  }

  .topphoto img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    margin-bottom: 80px;
  }

  .intoroducetext {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 80px;
  }

  .intoroducetext h1{
    margin-bottom: 20px;
  }

  .intoroducephoto ul {
    display: flex;
    margin-bottom: 60px;
  }

  .intoroducephoto ul li {
    width:calc(100%/3);
  }

  .intoroducephoto ul li img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    vertical-align: bottom;
  }

  .recipelink {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 80px;
  }

  .recipelink a {
    display: inline-block;
    border: solid 1px #2b2a27;
    font-size: 0.875rem;
    padding: 18px 60px;
    text-decoration: none;
  }

  footer {
    font-size: 0.75rem;
    padding: 20px;
    text-align: center;
  }

  footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  footer ul li {
    margin: 0 10px;
  }

  @media screen and (max-width: 834px) {
    .intoroducephoto ul {
        flex-direction: column;
    }

    .intoroducephoto ul li {
        width:100%;
    }
  }
